@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

#root > div {
  display: flex;
  height: 100vh;
  flex-direction
}

a {
    text-decoration: none;

  }

.btn_sign {
    margin: 10px;
}


ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.header {
  background: rgba(12,29,41,0.9);
  padding: 20px 64px;
  height: 81px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;

  .header_container {
    display: flex;
    justify-content: space-between;

    .header_text-hollow {
      opacity: 0.7;
      font-size: 16px;
      line-height: 1.1;
      color: #ffffff;
      transition: opacity 0.3s;
      font-weight: bold;
    }

    .header_logo {
      flex-grow: 0;
      margin-right: 30px;

      img {
        width: 125px;
        border-style: none;
      }
    }

    .header_nav-list {
      flex-grow: 5;
      display: flex;
      justify-content: flex-start;
      white-space: nowrap;

      .header_nav-list__item {
        display: inline-block;
        margin: 0px 31px;

        a {
          color: white;
          text-decoration: none;
          font-weight: bold;
        }
      }

      .header_active {
        margin: 0px 12px;

        a {
          border-bottom: 2px #ffffff solid;
          padding: 0 19px 23px;
        }
      }
    }

    .header_user_info {
      display: flex;
      align-items: center;
      margin-left: 40px;

      .header_sign_join {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0px 30px;
      }

      .header_sign_up_button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        width: 74px;
        height: 30px;
        background-color: #e62e2e;
        box-shadow: 0 2px 8px 0 rgba(255,0,0,0.5);

      }
    }
  }
}


.hero {
  width: 100%;
  background: url(https://www.sanarflix.com.br/checkout/img/banner-home.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .hero_overlay {
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
    min-height: 599px;
    padding: 0px;
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .banner_home_page_img_container, .banner_home_page_text {
      display: flex;
      justify-content: center;
      width: 80%;

      .banner_home_page_title {
        font-family: "Montserrat";
        font-size: 61px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        line-height: 67px;
        width: 95%;
        max-width: 889px;
      }

      .banner_home_page_description {
        font-family: "Montserrat";
        font-size: 20px;
        color: #fff;
        text-align: center;
        line-height: 27px;
        max-width: 687px;
      }
    }

    .banner_home_page_action-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .banner_home_page_btn_assign {
      background-color: #e62e2e;
      border-radius: 20px;
      box-shadow: 0 2px 8px 0 rgba(255,0,0,0.5);
      padding: 11px 87px;
      font-family: "Montserrat";
      font-size: 16px;
      color: #fff;
      text-align: center;
      line-height: 18px;
      margin: 40px;
      white-space: nowrap;
      transition: background-color 0.3s;

      span {
        opacity: 0.7;
      }
    }

    .banner_home_page_btn_view {
      font-family: "Nunito";
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.1;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      border-radius: 15px;
      padding: 6px 12.5px;
      border: 1px solid white;
      white-space: nowrap;
      margin-bottom: 12.6vh;
    }
  }


}

